window {
  background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.25);
}

button {
  background-color: rgb(16, 16, 16);
  background-image: none;
  border-radius: 5px;
  border: 1px solid rgb(32, 32, 32);
  margin: 1px;
  opacity: 0.85;
}

button label {
  color: #fff;
  /* font-weight: bold; */
  font-size: 24px;
  font-family: "Fira Code", monospace;
}

button:active {
  opacity: 1.0;
  background-color: #2CAB63;
}

button:checked {
  background-color: rgb(255, 255, 255);
}

.trigger {
  max-width: 32px;
  max-height: 32px;
  border: none;
  margin-bottom: 2px;
  border-radius: 2px 0 0 0;
}
